@tailwind base;
@tailwind components;
@tailwind utilities;

.box3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    /* width: 65vw; */
    background-color: #CDCBF8;
    padding: 40px;
    gap: 0 20px;
}

.parentsphotos {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 350px;
    
}

.Dphotos {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 350px;
}
.Dphotos .imag{
    padding: 13% 0;
}


.h4 {
    font-weight: bold;
    font-size: 25px;
    margin: 50px 0;
    padding: 0;
    line-height: 1.2;
    text-align: center;
}

.GenerateBtn {
    width: 14.375rem;
    height: 50px;
    border-radius: 0.625rem;
    background-color: #1b1b1b;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    cursor: pointer;

}

.GenerateBtn:hover {
    background-color: #4f46e5;
}

@media (max-width: 749px) {
    .box3{
        flex-direction: column;
    }
  }
